<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
      <diagramTextProvider
            priority="2"
            providerClass="org.emoflon.ibex.tgg.ide.democles.visualisation.IbexDemoclesPatternVisualiser">
      </diagramTextProvider>
   </extension>
   <extension
         point="org.emoflon.ibex.tgg.ide.IbexTGGBuilderExtension">
      <builder_extension
            class="org.emoflon.ibex.tgg.compiler.democles.defaults.IbexDemoclesBuilderExtension">
      </builder_extension>
   </extension>
   <extension
         point="org.emoflon.ibex.tgg.ide.IbexTGGNatureExtension">
      <nature_extension
            class="org.emoflon.ibex.tgg.compiler.democles.defaults.IbexDemoclesNatureExtension">
      </nature_extension>
   </extension>

</plugin>
