<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TGGAttributeConstraints -->
      <package
            uri="platform:/resource/org.emoflon.ibex.tgg.runtime.democles/model/TGGAttributeConstraints.ecore"
            class="TGGAttributeConstraints.TGGAttributeConstraintsPackage"
            genModel="model/TGGAttributeConstraint.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TGGAttributeConstraint -->
      <package
            uri="platform:/resource/org.emoflon.ibex.tgg.runtime.democles/model/TGGAttributeConstraint.ecore"
            class="TGGAttributeConstraint.TGGAttributeConstraintPackage"
            genModel="model/TGGAttributeConstraint.genmodel"/>
   </extension>

</plugin>
